header {
    background-color: rgb(207, 191, 155);
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(207, 191, 155);
}
.contenedor {
    display: flex;
    flex-direction: row; 
    justify-content:space-around; 
    align-items: flex-start; 
}

.Logo {
    margin-left: 10px;
    margin-top: 3%;
    text-align: center;
}

.posicionamiento {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.posicionamiento1 {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80vh;
}

.login {
    padding: 30px;
    padding-top: 50px;
    border-radius: 10px;
    background-color: rgb(125, 78, 71);
    color:  rgba(255, 255, 255, 0.888);
    width: 34%;
    height: 58%;
    text-align: center;
}
.h2 {
    font-size: 30px;
}

#margen {
    margin-block-end: 20px;
 }
 
 button {
    color: white; 
    background-color:  rgb(159, 113, 98); 
    border: none; 
    padding: 10px 30px; 
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    transition: background-color 0.5s; 
}
button:hover {
    background-color: #e7c79c; 
  }



input[type="text"],
input[type="password"] {
    font-size: 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
